/*
small mobile': 320px,
'mobile': 480px,
'large mobile': 768px,
'small desktop': 992px,
'desktop': 1200px,
'large desktop': 1600px,
'extra large desktop': 2000px
*/
/*@media only screen and (min-width: 320px) { */
    .clock {
        margin: auto;
    }

    .digital {
        text-align: center;
        border: 2px solid black;
    }

    html {
        height: 100%;
        background: #000 url(../img/bg.jpg) no-repeat bottom center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    span, .digital {
        color: #747474;
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
        font-size: 27px;
        text-transform: uppercase;
        text-shadow: 0px 0px 3px #747474;
        line-height: 52px;
    }

    .active, .digital {
        color: white;
        text-shadow: 0 0 10px white;
    }

    .container {
        border: 2px solid red;
        position:inherit;
        margin-top:25%;
        height:inherit;
    }

    .word-container {
        border: 2px solid blue;
        height: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .minute-container{
        padding: 5px;
        text-align: center;
    }
/*}*/

@media screen and (min-width: 480px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}

@media only screen and (min-width: 2000px) {

}
